################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication/Logs
/WebApplication/obj
/WebApplication/bin/Debug/net8.0
WebApplication/.vs/*
WebApplication/bin/*
/WebApplication/Properties/PublishProfiles/*
/WebApplication/Properties/*
