@using WApp.ViewModels
@model PendidikanViewModel

<ul class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
    <li><a asp-action="Pendidikan" asp-controller="Master">List Pendidikan</a></li>
    <li class="active">Create Pendidikan</li>
</ul>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="CreateEditPendidikan" method="post" class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Create Pendidikan</strong></h3>
                    </div>
                    <input asp-for="Id" type="hidden" />

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 col-xs-12 control-label">Name*</label>
                            <div class="col-md-6 col-xs-12">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Active</label>
                            <div class="col-md-9">
                                <label class="check"><input asp-for="IsActive" /> </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" asp-action="Pendidikan" asp-controller="Master"><i class="fa fa-arrow-left"></i>Back</a>
                        <a class="btn btn-default" href="javascript:void(0)" onClick="ClearAllInput('.form-horizontal :input')"><i class="fa fa-refresh"></i>Clear Form</a>
                        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
