@model (string Action, string Controller)

<div class="row">
    <div class="col-12">
        <div class="mb-4">
            <button class="btn bg-gradient-primary btn-sm mb-0 me-4" type="submit" name="button" onClick="Search()"><i class="fa fa-save"></i>&nbsp; Save</button>

            <a class="btn btn-outline-dark btn-sm mb-0" asp-action="@Model.Action" asp-controller="@Model.Controller"><i class="fa fa-arrow-left"></i>&nbsp; Back</a>
            <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button" onClick="ClearAllInput('.input')"><i class="fa fa-refresh"></i>&nbsp; Clear</button>
        </div>
    </div>
</div>