@using WApp.Utlis
@using WApp.ViewModels
@model PegawaiViewModel

<div class="card">
    <div class="card-header pb-0">
        <div class="">
            <div class="my-auto mt-lg-0 mt-4">
                <form asp-action="CreateEditK2" method="post" class="my-auto">
                    <input asp-for="Id" type="hidden" />
                    <input asp-for="Type" type="hidden" value="@Enums.PegawaiType.K2" />
                    <h5 class="font-weight-bolder">Create K-II</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">No Registrasi*</label>
                                <div class="col-md-6 col-xs-12">
                                    <input asp-for="NIK" class="form-control input" />
                                    <span asp-validation-for="NIK" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name*</label>
                                <div class="col-md-6 col-xs-12">
                                    <input asp-for="Name" class="form-control input" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Jenis Kelamin</label>
                                <div class="col-md-6 col-xs-12">
                                    <select asp-items="Model.ListJenisKelamin" asp-for="JenisKelamin" class="form-control select input" data-live-search="true"></select>
                                    <span asp-validation-for="JenisKelamin" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Pendidikan</label>
                                <div class="col-md-6 col-xs-12">
                                    <select asp-items="Model.ListPendidikan" asp-for="PendidikanID" class="form-control input" data-live-search="true">
                                        <option></option>
                                    </select>
                                    <span asp-validation-for="PendidikanID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Prodi</label>
                                <div class="col-md-6 col-xs-12">
                                    <select asp-items="Model.ListProdi" asp-for="ProdiID" class="form-control input" data-live-search="true">
                                        <option></option>
                                    </select>
                                    <span asp-validation-for="ProdiID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-switch">
                                    <input asp-for="IsActive" class="form-check-input" type="checkbox" checked="">
                                    <label class="form-check-label" for="rememberMe">Active</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">                            
                            <div class="form-group">
                                <label class="col-md-3 control-label">Satuan Kerja</label>
                                <div class="col-md-6 col-xs-12">
                                    <select asp-items="Model.ListSatuanKerja" asp-for="SatuanKerjaID" class="form-control input" data-live-search="true">
                                        <option></option>
                                    </select>
                                    <span asp-validation-for="SatuanKerjaID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Unit Kerja</label>
                                <div class="col-md-6 col-xs-12">
                                    <select asp-items="Model.ListUnitKerja" asp-for="UnitKerjaID" class="form-control input" data-live-search="true">
                                        <option></option>
                                    </select>
                                    <span asp-validation-for="UnitKerjaID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Awal Kerja</label>
                                <div class="col-md-6 col-xs-12">
                                    <input asp-for="TanggalAwal" class="form-control input" />
                                    <span asp-validation-for="TanggalAwal" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Akhir Kerja</label>
                                <div class="col-md-6 col-xs-12">
                                    <input asp-for="TanggalAkhir" class="form-control input" />
                                    <span asp-validation-for="TanggalAkhir" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Keterangan</label>
                                <div class="col-md-6 col-xs-12">
                                    <textarea asp-for="Keterangan" class="form-control input"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr b-f9qln7o7lm="" class="horizontal dark mt-0">
                    @await Html.PartialAsync("_ActionButtons", ("K2", "Pegawai"))
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        const startDatePicker = flatpickr("#TanggalAwal", {
            dateFormat: "d/m/Y", // Use 'd/m/Y' for dd/MM/yyyy format
            onChange: function (selectedDates) {
                // Update the end date's minDate when start date changes
                endDatePicker.set('minDate', selectedDates[0]);
            }
        });

        // Initialize Flatpickr for the end date
        const endDatePicker = flatpickr("#TanggalAkhir", {
            dateFormat: "d/m/Y", // Use 'd/m/Y' for dd/MM/yyyy format
            minDate: startDatePicker.selectedDates[0] // Initially set to the selected start date
        });

        const pendidikanChoice = new Choices('#PendidikanID');
        const prodiChoice = new Choices('#ProdiID');

        $('#PendidikanID').change(function () {
            const selectedPendidikan = this.value;
            UpdateNestedSelect("/Master/GetProdiByPendidikan", selectedPendidikan, prodiChoice);
        });

        const satuanKerjaChoice = new Choices('#SatuanKerjaID');
        const unitKerjaChoice = new Choices('#UnitKerjaID');        

        $('#SatuanKerjaID').change(function () {
            const selectedUnitKerja = this.value;
            UpdateNestedSelect("/Master/GetUnitKerjaBySatuanKerja", selectedUnitKerja, unitKerjaChoice);
        });
    });
</script>