<div class="card">
    <div class="card-header pb-0">
        <div class="">
            <div class="my-auto mt-lg-0 mt-4">
                <div class="my-auto">
                    <h5 class="font-weight-bolder">Upload K-II</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Excel File</label>
                                <div class="col-md-9">
                                    <input type="file" class="form-control" name="fileUpload" id="fileUpload" title="Browse file" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-4">
                                <button class="btn bg-gradient-primary btn-sm mb-0 me-2" id="UploadFile"><i class="fa fa-upload"></i>&nbsp; Upload File</button>
                                <a href="~/ExcelTemplate/Template-K-II.xlsx" class="btn btn-outline-dark btn-sm mb-0 "><i class="fa fa-download"></i>&nbsp; Download Template</a>
                            </div>
                        </div>
                    </div>
                    <hr b-f9qln7o7lm="" class="horizontal dark mt-0">
                    <h5 class="font-weight-bolder">Search K-II</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">No Registration</label>
                                <div class="col-md-9">
                                    <input id="noRegistrasi" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Name</label>
                                <div class="col-md-9">
                                    <input id="name" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-4">
                                <button class="btn bg-gradient-primary btn-sm mb-0 me-2" type="button" name="button" onClick="Search()"><i class="fa fa-search"></i>&nbsp; Search</button>
                                <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button" onClick="ClearForm()"><i class="fa fa-refresh"></i>&nbsp; Clear</button>
                            </div>
                        </div>
                    </div>
                    <hr b-f9qln7o7lm="" class="horizontal dark mt-0">
                    <a asp-action="CreateK2" asp-controller="Pegawai" class="btn bg-gradient-primary btn-sm mb-0">+&nbsp; New K-II</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body px-0 pb-0">
        <div class="table-responsive" style="padding: 0 1.5rem 1.5rem 1.5rem;">
            <table id="tableData" class="table table-flush dataTable-table" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>NO REGISTRASI</th>
                        <th>NAME</th>
                        <th>JENIS KELAMIN</th>
                        <th>PENDIDIKAN</th>
                        <th>PRODI</th>
                        <th>SATUAN KERJA</th>
                        <th>UNIT KERJA</th>
                        <th>AWAL KERJA</th>
                        <th>AKHIR KERJA</th>
                        <th>KETERANGAN</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script>
    var datatable = null;
    $(document).ready(function () {
        bindDatatable();
    });
    function bindDatatable() {
        datatable = $('#tableData')
            .DataTable({
                ajax: {
                    url: "/Pegawai/GetK2",
                    type: "POST",
                    async: true,
                    data: function (data) {
                        data.additionalValues = [$("#noRegistrasi").val(), $("#name").val()];
                        return data;
                    }
                },
                "language": {
                    'processing': '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>'
                },
                "columns": [
                    {
                        "data": "id",
                        "width": "100px",
                        "render": function (data, type, row, meta) {
                            var editUrl = "/Pegawai/EditK2/" + data;
                            return `<div style="text-align: center;">
                                                                                                                                        <a href="${editUrl}" style="margin-right: 5px;" class="label label-warning"><span class="fa fa-pencil"></span></a>
                                                                                                                                                <a href="javascript:void(0)" data-id="${row.id}" class="deleteDatas label label-danger"><span class="fa fa-trash-o"></span></a>
                                                                                                                                                    </div>`
                        }
                    },
                    {
                        "data": "nik",
                    },
                    {
                        "data": "name",
                    },
                    {
                        "data": "jenisKelaminText",
                    },
                    {
                        "data": "pendidikanText",
                    },
                    {
                        "data": "prodiText",
                    },
                    {
                        "data": "satuanKerjaText",
                    },
                    {
                        "data": "unitKerjaText",
                    },
                    {
                        "data": "tanggalAwal",
                    },
                    {
                        "data": "tanggalAkhir",
                    },
                    {
                        "data": "keterangan",
                    },
                    {
                        "data": "isActive",
                        "width": "50px",
                        "render": function (data, type, row, meta) {
                            return data ? "<span class='badge badge-success badge-sm'>Active</span>" : "<span class='badge badge-danger badge-sm'>Non Active</span>"
                        }
                    },

                ],
                serverSide: true,
                searching: false,
                ordering: false,
                scrollX: true,
                drawCallback: function (settings) {
                    initDelete(".deleteDatas");
                }
            });
    }

    function ClearForm() {
        $("#noRegistrasi").val('');
        $("#name").val('');
        Search();
    }

    function Search() {
        datatable.ajax.reload();
    }

    var initDelete = function (selector) {
        $(selector).on('click', function () {
            var btn = $(this);
            var id = btn.attr("data-id");

            ShowConfimDelete(datatable, "/Pegawai/DeleteK2/" + id)
        });
    }

    $("#UploadFile").click(function () {
        var formData = new FormData();
        var file = $("#fileUpload")[0].files[0];
        if (file == '' || file == null) {
            swal({
                title: 'Warning!',
                text: "The File cannot be empty!",
                type: 'warning'
            })
            return false;
        }

        formData.append('file', file);

        $.ajax({
            url: "../Pegawai/UploadK2",
            type: "POST",
            contentType: false,
            data: formData,
            dataType: "json",
            cache: false,
            processData: false,
            async: true,
        }).done(function (data, textStatus, jqXhr) {
            $("#fileUpload").val();
            swal({
                title: 'Upload File!',
                text: data.error,
                type: data.issuccess == false ? 'warning' : 'success'
            })
        }).fail(function (jqXhr, textStatus, errorThrown) {
            swal({
                title: 'Warning!',
                text: 'Error upload data.',
                type: 'warning'
            })
        }).always(function (data, textStatus, jqXhr) {
            $("#fileUpload").val('');
            datatable.ajax.reload();
        });
    });

</script>
