@using WApp.ViewModels
@model PegawaiIndexViewModel

<div class="card">
    <div class="card-header pb-0">
        <div class="">
            <div class="accordion" id="accordionRental">
                <div class="accordion-item mb-3">
                    <h5 class="accordion-header" id="headingOne">
                        <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Upload PHL
                            <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                            <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                        </button>
                    </h5>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionRental" style="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Excel File</label>
                                    <div class="col-md-9">
                                        <input type="file" class="form-control" name="fileUpload" id="fileUpload" title="Browse file" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <button class="btn bg-gradient-primary btn-sm mb-0 me-2" id="UploadFile"><i class="fa fa-upload"></i>&nbsp; Upload File</button>
                                    <a href="~/ExcelTemplate/Template-PHL.xlsx" class="btn btn-outline-dark btn-sm mb-0 "><i class="fa fa-download"></i>&nbsp; Download Template</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionSearch">
                <div class="accordion-item mb-3">
                    <h5 class="accordion-header" id="headingSearch">
                        <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
                            Search PHL
                            <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                            <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                        </button>
                    </h5>
                    <div id="collapseSearch" class="accordion-collapse collapse" aria-labelledby="headingSearch" data-bs-parent="#accordionSearch" style="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">NIK</label>
                                    <div class="col-md-9">
                                        <input id="nik" type="text" class="form-control input" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input id="name" type="text" class="form-control input" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Satuan Kerja</label>
                                    <div class="col-md-6 col-xs-12">
                                        <select asp-items="Model.ListSatuanKerja" asp-for="SatuanKerjaID" class="form-control input" data-live-search="true" data-placeholder="This is a placeholder">
                                            <option></option>
                                        </select>
                                        <span asp-validation-for="SatuanKerjaID" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Unit Kerja</label>
                                    <div class="col-md-6 col-xs-12">
                                        <select asp-items="Model.ListUnitKerja" asp-for="UnitKerjaID" class="form-control input" data-live-search="true">
                                            <option></option>
                                        </select>
                                        <span asp-validation-for="UnitKerjaID" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-4">
                                    <button class="btn bg-gradient-primary btn-sm mb-0 me-2" type="button" name="button" onClick="Search()"><i class="fa fa-search"></i>&nbsp; Search</button>
                                    <button class="btn btn-outline-dark btn-sm mb-0" type="button" name="button" onClick="ClearForm()"><i class="fa fa-refresh"></i>&nbsp; Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-auto mt-lg-0 mt-4">
                <div class="my-auto">
                    @* <hr b-f9qln7o7lm="" class="horizontal dark mt-0"> *@
                    <a asp-action="CreatePHL" asp-controller="Pegawai" class="btn bg-gradient-primary btn-sm mb-0">+&nbsp; New PHL</a>
                    <button id="deleteAll" class="btn bg-gradient-danger btn-sm mb-0" type="button" name="button"><i class="fa fa-trash"></i>&nbsp; Delte All</button>
                    <div style="float: inline-end;text-align: center;" id="pendidikanTotal">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body px-0 pb-0">
        <div class="table-responsive" style="padding: 0 1.5rem 1.5rem 1.5rem;">
            <table id="tableData" class="table table-flush dataTable-table" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th><input type="checkbox" id="selectAllHeader"></th>
                        <th>NO</th>
                        <th>NIK</th>
                        <th>NAME</th>
                        <th>JENIS KELAMIN</th>
                        <th>PENDIDIKAN</th>
                        <th>PRODI</th>
                        <th>SATUAN KERJA</th>
                        <th>UNIT KERJA</th>
                        <th>AWAL KERJA</th>
                        <th>AKHIR KERJA</th>
                        <th>KETERANGAN</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
              @*   <tfoot>
                    <tr>
                        <th colspan="4">Total Pendidikan:</th>
                        <th colspan="10" id="pendidikanTotal"></th> <!-- This is where the total will go -->
                    </tr>
                </tfoot> *@
            </table>
        </div>
    </div>
</div>

<script>
    var datatable = null;
    var satuanKerjaChoice = null;
    var unitKerjaChoice = null;

    $(document).ready(function () {
        bindDatatable();
    });

    function bindDatatable() {
        datatable = $('#tableData')
            .DataTable({
                ajax: {
                    url: "/Pegawai/GetPHL",
                    type: "POST",
                    async: true,
                    data: function (data) {
                        data.additionalValues = [$("#nik").val(), $("#name").val(), $("#SatuanKerjaID").val(), $("#UnitKerjaID").val()];
                        return data;
                    }
                },
                "language": {
                    'processing': '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>'
                },
                columnDefs: [
                    { "orderable": false, "searchable": false, "targets": [0, 1] } // Disable sorting and searching for column 0 and 1
                ],
                "columns": [
                    {
                        "data": "id",
                        "width": "100px",
                        "render": function (data, type, row, meta) {
                            var editUrl = "/Pegawai/EditPHL/" + data;
                            return `<div style="text-align: center;">
                                                        <a href="${editUrl}" style="margin-right: 5px;" class="label label-warning"><span class="fa fa-pencil"></span></a>
                                                                <a href="javascript:void(0)" data-id="${row.id}" class="deleteDatas label label-danger"><span class="fa fa-trash-o"></span></a>
                                                                    </div>`
                        }
                    },
                    {
                        // Add checkbox column
                        "data": null,
                        "orderable": false,
                        "searchable": false,
                        "width": "30px",
                        "render": function (data, type, row) {
                            return `<input type="checkbox" class="row-checkbox" data-id="${row.id}">`;
                        }
                    },
                    {
                        "data": "id",
                        "render": function (data, type, row, meta) {
                            return meta.row + 1; // Add row numbering, meta.row gives the current row index
                        }
                    },
                    {
                        "data": "nik",
                    },
                    {
                        "data": "name",
                    },
                    {
                        "data": "jenisKelaminText",
                    },
                    {
                        "data": "pendidikanText",
                    },
                    {
                        "data": "prodiText",
                    },
                    {
                        "data": "satuanKerjaText",
                    },
                    {
                        "data": "unitKerjaText",
                    },
                    {
                        "data": "tanggalAwal",
                    },
                    {
                        "data": "tanggalAkhir",
                    },
                    {
                        "data": "keterangan",
                    },
                    {
                        "data": "isActive",
                        "width": "50px",
                        "render": function (data, type, row, meta) {
                            return data ? "<span class='badge badge-success badge-sm'>Active</span>" : "<span class='badge badge-danger badge-sm'>Non Active</span>"
                        }
                    },

                ],
                serverSide: true,
                searching: false,
                ordering: true,
                scrollX: true,
                drawCallback: function (settings) {
                    initDelete(".deleteDatas");
                },
                footerCallback: function (row, data, start, end, display) {
                    $.ajax({
                        url: "/Pegawai/GetTotalPendidikans",  // Your API to get totals
                        method: "GET",
                        data: { isPHL: true },
                        success: function (response) {
                            var totalSummary = ''; // Initialize total summary string

                            // Assume the response is an object with key-value pairs like { 'SMA': 10, 'SD': 5 }
                            for (var key in response) {
                                if (response.hasOwnProperty(key)) {
                                    totalSummary += `<span class="badge badge-info badge-sm m-1" style="font-size: small;">${response[key].text}: ${response[key].total}</span>`;
                                }
                            }

                            // Update the footer with the calculated totals
                            $('#pendidikanTotal').html(totalSummary);
                        },
                        error: function () {
                            $('#pendidikanTotal').html('Error loading totals');
                        }
                    });
                }
            });
    }

    $('#selectAllHeader').on('click', function () {
        var rows = datatable.rows({ 'search': 'applied' }).nodes();
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });

    // Handle row checkboxes to control the "Select All" checkbox in the header
    $('#tableData tbody').on('change', 'input.row-checkbox', function () {
        if (!this.checked) {
            $('#selectAllHeader').prop('checked', false);
        } else if ($('.row-checkbox:checked').length === $('.row-checkbox').length) {
            $('#selectAllHeader').prop('checked', true);
        }
    });

    $('#deleteAll').click(function () {
        var selectedIds = [];
        $('.row-checkbox:checked').each(function () {
            selectedIds.push($(this).data('id'));
        });

        if (selectedIds.length === 0) {
            swal({
                title: 'Delete All!',
                text: 'Please select at least one row to delete.',
                type: 'warning'
            })
        } else {
            var idsString = selectedIds.join(',');
            ShowConfimDeleteAll(datatable, "/Pegawai/DeleteAll", idsString);
            $("#selectAllHeader").prop("checked", false);
        }
    });

    function ClearForm() {
        $("#nik").val('');
        $("#name").val('');
        satuanKerjaChoice.setChoiceByValue('');
        unitKerjaChoice.clearStore();
        Search();
    }

    function Search() {
        datatable.ajax.reload();
    }

    var initDelete = function (selector) {
        $(selector).on('click', function () {
            var btn = $(this);
            var id = btn.attr("data-id");

            ShowConfimDelete(datatable, "/Pegawai/DeletePHL/" + id)
        });
    }

    $("#UploadFile").click(function () {
        var formData = new FormData();
        var file = $("#fileUpload")[0].files[0];
        if (file == '' || file == null) {
            swal({
                title: 'Warning!',
                text: "The File cannot be empty!",
                type: 'warning'
            })
            return false;
        }

        formData.append('file', file);

        $.ajax({
            url: "../Pegawai/UploadPHL",
            type: "POST",
            contentType: false,
            data: formData,
            dataType: "json",
            cache: false,
            processData: false,
            async: true,
        }).done(function (data, textStatus, jqXhr) {
            $("#fileUpload").val();
            swal({
                title: 'Upload File!',
                text: data.error,
                type: data.issuccess == false ? 'warning' : 'success'
            })
        }).fail(function (jqXhr, textStatus, errorThrown) {
            swal({
                title: 'Warning!',
                text: 'Error upload data.',
                type: 'warning'
            })
        }).always(function (data, textStatus, jqXhr) {
            $("#fileUpload").val('');
            datatable.ajax.reload();
        });
    });

    $(function () {

        satuanKerjaChoice = new Choices('#SatuanKerjaID', {
            removeItemButton: true,

        });
        unitKerjaChoice = new Choices('#UnitKerjaID', {
            removeItemButton: true,

        });

        $('#SatuanKerjaID').change(function () {
            const selectedUnitKerja = this.value;
            UpdateNestedSelectFilter("/Master/GetUnitKerjaBySatuanKerja", selectedUnitKerja, unitKerjaChoice);
        });
    });

</script>
