<ul class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
    <li class="active">Users</li>
</ul>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Filter</strong></h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input id="name" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input id="email" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-default" id="clearForm" onClick="ClearForm()"><i class="fa fa-refresh"></i>Clear Form</button>
                        <button class="btn btn-primary" onClick="Search()"><i class="fa fa-search"></i>Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- START DEFAULT DATATABLE -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <a asp-action="Create" asp-controller="Account" class="btn btn-primary"><span class="fa fa-plus"></span> Add New</a>
                    <table id="tableData" class="table display" style="width:100%">
                        <thead>
                            <tr>
                                <th>NAME</th>
                                <th>EMAIL</th>
                                <th>ROLE</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var datatable = null;
        $(document).ready(function () {
            bindDatatable();
        });
        function bindDatatable() {
            datatable = $('#tableData')
                .DataTable({
                    ajax: {
                        url: "/Account/GetUsers",
                        type: "POST",
                        async: true,
                        data: function (data) {
                            data.additionalValues = [$("#name").val(), $("#email").val()];
                            return data;
                        }
                    },
                    "language": {
                        'processing': '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>'
                    },
                    "columns": [
                        {
                            "data": "name",
                        },
                        {
                            "data": "email",
                        },
                        {
                            "data": "role",
                        },
                        {
                            "data": "id",
                            "width": "100px",
                            "render": function (data, type, row, meta) {
                                var editUrl = "/Account/Edit/" + data;
                                var deleteUrl = "/Account/Edit/" + data;
                                // <a href="${editUrl}" style="margin-right: 5px;"><span class="fa fa-pencil"></span></a>
                                return `<div style="text-align: center;">                                            
                                            <a href="javascript:void(0)" data-id="${row.id}" class="deleteDatas"><span class="fa fa-trash-o"></span></a>
                                        </div>`
                            }
                        },
                    ],
                    serverSide: true,
                    searching: false,
                    ordering: false,
                    drawCallback: function (settings) {
                        initDelete(".deleteDatas");
                    }
                });
        }

        function ClearForm() {
            $("#name").val('');
            $("#email").val('');
        }

        function Search() {
            datatable.ajax.reload();
        }

        var initDelete = function (selector) {
            $(selector).on('click', function () {
                var btn = $(this);
                var id = btn.attr("data-id");

                ShowConfimDelete(datatable, "/Account/Delete/" + id)
            });
        }

    </script>
