@using WApp.ViewModels
@model Register


@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_UnautorizeLayout.cshtml";
}

<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-8">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <h3 class="font-weight-bolder text-info text-gradient">Welcome back</h3>
                                <p class="mb-0">Enter your email and password to sign in</p>
                            </div>
                            <div class="card-body">
                                <form asp-action="Register" method="post" class="form-horizontal">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label>Name</label>
                                    <div class="mb-3">
                                        <input asp-for="Name" class="form-control" placeholder="Name" aria-label="Name" >
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <label>Email</label>
                                    <div class="mb-3">
                                        <input asp-for="Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <label>Username</label>
                                    <div class="mb-3">
                                        <input asp-for="Username" class="form-control" placeholder="Username" aria-label="Username">
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <label>Password</label>
                                    <div class="mb-3">
                                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <label>Confirm Password</label>
                                    <div class="mb-3">
                                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="ConfirmPassword" aria-label="ConfirmPassword" aria-describedby="password-addon">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>                                    
                                    <div class="text-center">
                                        <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Sign up</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                <p class="mb-4 text-sm mx-auto">
                                    Already have an account?
                                    <a asp-action="Login" class="text-info text-gradient font-weight-bold">Sign in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Lambang_Polri.png" style="position: absolute;z-index: 99;opacity: 0.9;padding-top: 100px;">
                        <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                            <div class="bg-gradient-info oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@* 
<div class="login-container">
    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div class="login-title"><strong>Welcome</strong>, Please register</div>
            <form asp-action="Register" method="post" class="form-horizontal">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input asp-for="Username" class="form-control" placeholder="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="ConfirmPassword" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a asp-action="Login" class="btn btn-link btn-block">Have account?</a>
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Log In" class="btn btn-info btn-block" />
                    </div>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; @DateTime.Now.Year @WApp.Utlis.Constans.ApplicationName
            </div>           
        </div>
    </div>
</div> *@
@* 
<div class="row d-flex align-items-center justify-content-center">
    <div classrc="col-md-3 card p3">
        <h2 class="text-center text-info">Register</h2>
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-1">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Username" class="col-form-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Email" class="col-form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="Password" class="col-form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <label asp-for="ConfirmPassword" class="col-form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-8">
                    <a asp-action="Login" class="text-decoration-none float-start mt-2">Have account?</a>
                </div>
                <div class="col-4">
                    <input type="submit" value="Register" class="btn btn-primary btn-sm float-end" />
                </div>
            </div>
        </form>
    </div>
</div> *@